body {
    background: #fafafa;
    color: #333333;
    background-image: linear-gradient(-90deg, rgb(51, 153, 255), rgb(128, 255, 223));
    margin-top: 5rem;
  }
  .pt-6, .py-5 {
    padding-top: 6rem !important;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul ,label , form ,small , input , select , table , div , tr , textarea {
    margin: 0;
  }
 
  .bg-steel {
    background-image: linear-gradient(-90deg, rgb(0, 128, 128) , rgb(0, 128, 128));
  }
  
  .btn2{
    color: black;
  }

.invalid-feedback {
      display: block;
      color: black ;
    }

  .helptext{
  color: black ;
}

.custom-select.is-invalid~.invalid-feedback, .custom-select.is-invalid~.invalid-tooltip, .form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .custom-select:invalid~.invalid-feedback, .was-validated .custom-select:invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
    color: black ;
}

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background-image: linear-gradient(-90deg, rgb(0, 230, 172) ,rgb(128, 255, 128));
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    color: black ;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  h3{
    clear: both;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    margin: 0.5em 0;
  }
  
  button,
  input,
  select,
  textarea {
    color: #404040;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .crispyform {
    color: black ;
  }
  .comments-area {
    max-width: 500px;
    margin: 30px 0;
  }
  .comments-title {
    margin: 20px 0;
  }
  .comment-body {
    padding: 24px 0;
    position: relative;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #E7E7E7;
  }
  .comment-respond {
    background-color: #e7e6e1;
    padding: 15px 30px 15px 30px;
    margin: 20px 0;
    max-width: 500px;
  }
  
  .comment .comment-respond {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .comment-form .comment-form-author,
  .comment-form .comment-form-email,
  .comment-form .comment-form-url {
    margin-bottom: 30px;
  }
  .comment-form .required {
    color: #FF8778;
  }
  
  input,
  textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
  }
  
 
  
  
  input[type="text"],
  input[type="email"],
  textarea {
    color: #666666;
    border: 1px solid #eeeeee;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    color: #111111;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 3px;
  }
  
  textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    width: 100%;
  }
  [for="author"], .comment-form [for="email"], .comment-form [for="comment"] {
      float: left;
      padding: 10px 0;
      width: 100px;
  }
html, body{ height:100%; margin:0; }
header{ height:50px; background:lightcyan; }
footer{ height:50px; background:PapayaWhip; background-color: rgb(0, 128, 128);}

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}



/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.answers-scroll {
  max-height:30em;
  overflow-y:scroll;
}

.answers-paragraph {
  margin-left:5em;
}
.icons{
  width:2em;
  height:auto;
}

.icons:hover{
  opacity: 0.3;
}

.align-right{
  text-align: right;
}