{% extends 'blog/base.html' %}

{% block content %}
    <h1 style="color:blue; text-align:center;font-size:5vw; font-family:serif;">About</h1>
    <p style="text-align:center; font-family:Monospace; font-size:2vw;font-weight:bold; background-color:white;" >Blogging has always been about expressing yourself and sharing what you know on the Internet. So, this is the place for you where you can write you blog and post it for the world to see it.

    </p>
    <h3 style="color:green; text-align:center;font-family: Times New Roman, Times, serif;font-size:3vw;">Happy Blogging!</h3>
{% endblock content %}
