{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Blog - {{ title }}</title>
    {% else %}
        <title> Blog</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <a class="navbar-brand" href="{% url 'blog-home' %}"><h1>Blog</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'blog-save' %}">Saved Post</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <form class="form-inline my-2 my-lg-0">
                  <div class="wrap">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
                       <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
                    </div>
                 </div>
                </form>
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'question-home' %}">Question Form</a>
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">Create Post</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'question-home' %}">Question Form</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
          </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row pt-6">
        <div class="col-md-8">
          
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script > 
      $('.reply-btn').click(function(){
        $(this).parent().next().next().next('.replied-comments').fadeToggle()
      });
    </script>
    <script > 
      $('.add-reply-btn').click(function(){
        $(this).parent().next().next().next('.reply-form').fadeToggle()
      });
    </script>

<footer>
  <div class="container text-center">
  <p>© Owner {% now "Y" %}
  <br><small>Icons made by Freeplk from www.flaticon.com</small>
  </p>
  </div>
</footer>



</body>
</html>