{% extends "recruit/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "blog/certara.css" %}">


{% load crispy_forms_tags %}


{% block content %}
    <div class="container-md">
        <img src="{% static 'svgs/logo-certara.svg' %}" >
        <div class="card mb-10">
            <div class="card-body">
              <form method="POST">
                <h1>Enter Information</h1>
                {% csrf_token %}
                {{ form|crispy }}
                <h6>* required fields</h6>
                <button type="submit" class="btn btn-brand">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
</html>